aiohttp @ file:///D:/bld/aiohttp_1614281086591/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217273648/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1613414140225/work
chardet @ file:///D:/bld/chardet_1610093646853/work
click==7.1.2
cryptography @ file:///D:/bld/cryptography_1616851649655/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1599005870470/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1610101993319/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
motor @ file:///home/conda/feedstock_root/build_artifacts/motor_1605902279291/work
multidict @ file:///D:/bld/multidict_1610319170773/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
pandas @ file:///C:/ci/pandas_1618365634936/work
passlib==1.7.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic @ file:///D:/bld/pydantic_1614893279359/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1617199158555/work
pymongo @ file:///D:/bld/pymongo_1617619307276/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1617408971533/work
python-multipart==0.0.5
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1595508258730/work
tornado @ file:///D:/bld/tornado_1610094858390/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
uuid==1.30
uvicorn @ file:///D:/bld/uvicorn_1613844917870/work
watchgod @ file:///home/conda/feedstock_root/build_artifacts/watchgod_1592453122359/work
websockets @ file:///D:/bld/websockets_1610127685432/work
wincertstore==0.2
yarl @ file:///D:/bld/yarl_1610354399983/work
